<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_Knickarmroboter">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 2.77555756156289E-17 0.0831886098900352"
        rpy="0 0 0" />
      <mass
        value="6.1361913950356" />
      <inertia
        ixx="0.0358502952817986"
        ixy="-5.1382805290569E-18"
        ixz="5.55581965363955E-19"
        iyy="0.0358502952817986"
        iyz="7.52167616688439E-18"
        izz="0.0367184665537517" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l1">
    <inertial>
      <origin
        xyz="-6.83761542055045E-05 0.00102203156576196 0.232218807277357"
        rpy="0 0 0" />
      <mass
        value="1.51482515033566" />
      <inertia
        ixx="0.00707716972710857"
        ixy="7.21408297405916E-05"
        ixz="2.3648020008742E-06"
        iyy="0.00593125217405407"
        iyz="-3.15884335363493E-05"
        izz="0.00780637078216893" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l2">
    <inertial>
      <origin
        xyz="-0.000106001807727532 0.00175745931026777 0.43443582679205"
        rpy="0 0 0" />
      <mass
        value="2.94963547245468" />
      <inertia
        ixx="0.03447515756276"
        ixy="8.67632894917334E-05"
        ixz="7.35312883036674E-05"
        iyy="0.0330973286942134"
        iyz="-0.00117489847936831"
        izz="0.00576880729550171" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l1" />
    <child
      link="l2" />
    <axis
      xyz="0.062633 -0.99804 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l3">
    <inertial>
      <origin
        xyz="0.0406637759582462 0.00976059677608286 0.609999951716629"
        rpy="0 0 0" />
      <mass
        value="0.478407770132196" />
      <inertia
        ixx="0.000710713499500006"
        ixy="-0.000126272974191818"
        ixz="1.32924754252277E-09"
        iyy="0.00190865757953243"
        iyz="1.44962750529394E-09"
        izz="0.0021118798236968" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l2" />
    <child
      link="l3" />
    <axis
      xyz="-0.062633 0.99804 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l4">
    <inertial>
      <origin
        xyz="0.243532425783761 0.0247059269929568 0.609999999277061"
        rpy="0 0 0" />
      <mass
        value="0.988047538826246" />
      <inertia
        ixx="0.00183583451610394"
        ixy="-0.000121264377068182"
        ixz="6.80683484473022E-11"
        iyy="0.00387367083341548"
        iyz="-5.55426105291516E-10"
        izz="0.00498224326756793" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l3" />
    <child
      link="l4" />
    <axis
      xyz="-0.99804 -0.062633 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l5">
    <inertial>
      <origin
        xyz="0.374851435048905 0.0259328029097155 0.611626616035795"
        rpy="0 0 0" />
      <mass
        value="0.280114187576556" />
      <inertia
        ixx="0.000465947226846205"
        ixy="-0.000144710049654458"
        ixz="-2.10665242870428E-05"
        iyy="0.000808323356004384"
        iyz="-6.89371392411279E-06"
        izz="0.000919674227905595" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l4" />
    <child
      link="l5" />
    <axis
      xyz="-0.062633 0.99804 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>