<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_Knickarmroboter">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.46944695195361E-18 2.16840434497101E-18 0.0366619424385135"
        rpy="0 0 0" />
      <mass
        value="1.98151152753041" />
      <inertia
        ixx="0.00564498748918672"
        ixy="9.42142044041064E-19"
        ixz="-3.94698883470848E-19"
        iyy="0.00564498748918672"
        iyz="2.22435497644666E-19"
        izz="0.00917479759671224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l1">
    <inertial>
      <origin
        xyz="0.00342875009837332 2.27896488612927E-05 0.151455208228251"
        rpy="0 0 0" />
      <mass
        value="3.58989007226229" />
      <inertia
        ixx="0.0127414440292874"
        ixy="-6.2839970726499E-05"
        ixz="-1.36727019490912E-05"
        iyy="0.0221912830770801"
        iyz="-7.10942461203049E-08"
        izz="0.02283593921742" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l2">
    <inertial>
      <origin
        xyz="0.116816111382844 0.00458341857140408 0.315109916432693"
        rpy="0 0 0" />
      <mass
        value="2.15458853713248" />
      <inertia
        ixx="0.0290442398985364"
        ixy="3.96664810255087E-06"
        ixz="-0.000292699380136224"
        iyy="0.0277340010742162"
        iyz="-0.000419192292398604"
        izz="0.00307125334814805" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l1" />
    <child
      link="l2" />
    <axis
      xyz="-0.0066494 0.99998 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l3">
    <inertial>
      <origin
        xyz="0.167157110696443 0.00664214971719109 0.502224589948763"
        rpy="0 0 0" />
      <mass
        value="0.575994505699524" />
      <inertia
        ixx="0.000742339722231998"
        ixy="-5.26567366235863E-05"
        ixz="3.11047855689663E-05"
        iyy="0.00259688490148011"
        iyz="8.36343649494274E-07"
        izz="0.0027338814944405" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l2" />
    <child
      link="l3" />
    <axis
      xyz="-0.0066494 0.99998 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l4">
    <inertial>
      <origin
        xyz="0.393056001978031 0.00774368571044722 0.498847058830407"
        rpy="0 0 0" />
      <mass
        value="1.0036372704856" />
      <inertia
        ixx="0.00172341040408688"
        ixy="8.39263450547596E-07"
        ixz="5.30763511552947E-05"
        iyy="0.00434352436051975"
        iyz="3.14985535414815E-05"
        izz="0.00527114996029662" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l3" />
    <child
      link="l4" />
    <axis
      xyz="-0.99986 -0.0066486 0.01561" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l5">
    <inertial>
      <origin
        xyz="0.49845844167894 0.000589219783453568 0.460442294674364"
        rpy="0 0 0" />
      <mass
        value="0.283355917359441" />
      <inertia
        ixx="0.000971920993625608"
        ixy="2.52561899965772E-06"
        ixz="-7.72658676268277E-06"
        iyy="0.000881887915611142"
        iyz="0.000104935273774506"
        izz="0.000454277898377058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l4" />
    <child
      link="l5" />
    <axis
      xyz="-0.007173 0.9994 -0.033783" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l6">
    <inertial>
      <origin
        xyz="0.502131070069706 0.00823162750610676 0.358091601980651"
        rpy="0 0 0" />
      <mass
        value="0.151417252536961" />
      <inertia
        ixx="0.000109796391461088"
        ixy="-2.94419371801065E-06"
        ixz="7.29633093183952E-06"
        iyy="6.47550498106707E-05"
        iyz="1.14162970646975E-06"
        izz="0.000112348472245568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Knickarmroboter/meshes/l6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="l5" />
    <child
      link="l6" />
    <axis
      xyz="-0.014351 -0.033995 -0.99932" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>