<launch>
    <!-- Spawn the first model -->
    <group ns="robot">
        <param name="robot_description" command="$(find xacro)/xacro '$(find printing_station)/urdf/inspection_bot/robot.urdf'"/>
        <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
              args="-urdf -param robot_description
                        -x 0.0 -y 0.0 -z 0.0
                        -Y 0.0
                        -model robot"/>
    </group>

    <!-- Spawn the printer model -->
    <group ns="stand">
        <param name="robot_description" command="$(find xacro)/xacro '$(find printing_station)/urdf/printer_stand.urdf'"/>
        <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
              args="-urdf -param robot_description
                        -x 0.0 -y 1.0 -z 1.0
                        -Y 0.0
                        -model stand"/>
    </group>

    <group ns="stand1">
        <param name="robot_description" command="$(find xacro)/xacro '$(find printing_station)/urdf/printer_stand.urdf'"/>
        <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
              args="-urdf -param robot_description
                        -x 0.0 -y -1.0 -z 1.0
                        -Y 0.0
                        -model stand1"/>
    </group>
<group ns="stand2">
      <param name="robot_description" command="$(find xacro)/xacro '$(find printing_station)/urdf/printer_stand.urdf'"/>
      <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
              args="-urdf -param robot_description
                        -x -1.0 -y 0.0 -z 1.0
                        -Y 1.5708
                        -model stand2"/>
</group>


</launch>