<launch>
    <include file="$(find printing_station)/launch/gazeboandcontroller.launch" />
    <include file="$(find station_moveit_config)/launch/move_group.launch" />
    <include file="$(find station_moveit_config)/launch/moveit_rviz.launch" >
        <arg name="rviz_config" value="$(find printing_station)/config/moveit.rviz"/>
    </include>
    <node name="spawn_static_camera" pkg="gazebo_ros" type="spawn_model" args="-file $(find printing_station)/urdf/camera.sdf -sdf -model static_camera" output="screen"/>
    <node name="spawn_static_conveyor" pkg="gazebo_ros" type="spawn_model" args="-file $(find printing_station)/urdf/conveyor.sdf -sdf -model conveyor" output="screen"/>
</launch>
