<launch>
    <!-- Include the empty world launch file -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <include file="$(find printing_station)/launch/platform.launch"/>

    <!-- Launch the GUI talker node -->
    <node name="gui_talker" pkg="printing_station" type="picking_bot_talker"/>
</launch>